* {
  border: 0px solid red;
  z-index: 1;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: #3EBF65;
  box-shadow: 0 0.12rem #0000003f;
  position: fixed;
  z-index: 999;
}

#logo {
  width: 2rem;
  height: 2rem;
  margin: calc(1rem - 3px) 1rem 1rem 3rem;
  border-radius: 50%;
  border: 3px solid white;
}

#page-title {
  text-align: center;
  margin: auto 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #3f3f3f;
}

#nav-menu {
  font-size: 1.8rem;
  color: black;
  position: absolute;
  right: 0rem;
  padding: 1rem 1.5rem 0 1.5rem;
  display: none;
  height: calc(100% - 1rem);
}

#navbar {
  margin: 0 0 0 auto;
  padding: 0 5rem 0 0;

  height: 100%;
}

#navbar ul{
  margin: 0;
  display: flex;
  list-style-type: none;
  height: 100%;
  padding: 0;
}
#navbar ul li {
  padding: 0 0.8rem 0 0.8rem;
}
#navbar ul li a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #5C5C5C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 100%;
  height: auto;
  background-color: #522926;
  margin: 0;
  padding-bottom: 2rem;
}

.contacts {
  width: 100%;
  height: 30rem;
  background-color: #5C5C5C;
}

footer {
  width: 100%;
  height: 6rem;
  background-color: black;
  border-top: 0.2rem solid #3EBF65;
}

.section-title {
  text-align: center;
  margin: 0;
  padding-top: 5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
}

.title-line {
  width: 20rem;
  height: 0.2rem;
  background-color: white;
}

.introduction {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.description {
  color: #3EBF65;
  font-family: sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  margin: 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#profile-link {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1rem 1rem 1rem;
  transition: transform 0.2s ease-in-out 0ms;
}

#profile-link:hover {
  transform: translate(0, 0.5rem);
  transition: transform 0.2s ease-in-out 0ms;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.contact-introduction {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 10rem 0 0 0;
}

.contact-description {
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 0.8rem 0 4rem 0;
}

.project-cage {
  display:inline-block
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-tile {
  width: 300px;
  height: 300px;
  margin: 1rem;
  border-radius: 5%;
}

.project-tile a{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out 0ms;
  box-shadow: 0 2px 8px 0.5px #000;
  border-radius: 5%;
}

.project-tile a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.project-tile a:hover{
  display: flex;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out 0ms;
  box-shadow: 0 2px 8px 0.5px #fff;
}

@media (max-width: 600px) {

  #navbar ul {
    display: none;
  }

  #navbar ul li{
    padding: 0;
  }

  #navbar ul li a {
    display: block;
    padding: 1rem 0 1rem 3rem;
  }

  #nav-menu {
  display: block;
  }

  #navbar:hover ul{
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: gray;
    box-shadow: -4px 6px 4px 4px #0000004f;
    z-index: 0;
  }

    #navbar ul a:hover {
    background-color: black;
    color: white;
    width: 100%;
    padding: 1rem 0 1rem 4rem;
    }

    #nav-menu:hover i{
    background-color:gray;
    text-shadow: 0px 0px 5px #fff;
    }

    #navbar:hover #nav-menu, nav-menu:hover i {
    text-shadow: 0px 0px 5px #fff;
    background-color:gray;
    }



}